{% extends "base.html" %}

{% block body %}

    <body>

        <h1> Hello, {{ firstName }} !</h1>
        <p> Eventually you will see your properties below </p>

        <div id="properties">

            {% for property in properties %}
               {% if str(property.user) is str(userName) -%}

                    <div class="property">

                        <h1> {{ property.name }}</h1>

                        <h3> {{ property.type }} </h3>

                        <p4> {{ property.price }} </p4>

                        <p4> {{ property.user }}</p4>
                    </div>
            {%- endif %}}


            {% endfor %}

        </div>

        <p><a href="{{url_for('addNewProperty') }}">List a New Property</a></p>
        <p><a href="{{url_for('getProperties') }}">View Properties</a></p>
{% endblock %}